@use 'variables' as vars;

// ========= Ledger ==========
.ledger {
  .item-group + .item-group {
    margin-top: 20px;
  }
}

// ========= ItemGroup ==========
.item-group {
  .group-header {
    display: flex;
    padding: 0 vars.$contentHorizontalPadding;
    color: gainsboro;
    font-size: .9em;
    line-height: 2.2em;
    border-bottom: 1px solid rgb(205, 205, 205);
    .title {
      margin-right: auto;
    }
    .extra {
      margin-left: auto;
    }
  }
  .group-list {
    padding: 0 vars.$contentHorizontalPadding;
    .item {
      border-bottom: 1px solid rgb(205, 205, 205);
      box-sizing: border-box;
      line-height: 2.2em;
      &:hover {
        background-color: rgba(191, 191, 191, 0.548);
      }
    }
  }
}



