@use 'variables' as vars;

// ========= Ledger ==========
.ledger {
  .item-group + .item-group {
    // margin-top: 20px;
  }
}

// ========= ItemGroup ==========
$headerHeight: 3em;
.item-group {
  .group-header {
    display: flex;
    padding: 0 vars.$contentHorizontalPadding;
    color: #b9b9b9;
    font-size: .9em;
    border-bottom: 1px solid #dfdfdf;
    .title {
      margin-right: auto;
      line-height: $headerHeight;
    }
    .extra {
      margin-left: auto;
      line-height: $headerHeight;
    }
  }
  .group-list {
    .item {
      box-sizing: border-box;
      padding: 0 vars.$contentHorizontalPadding;
      .content {
        line-height: 2.4em;
        border-bottom: 1px solid #dfdfdf;
      }
      &:hover {
        background-color: rgba(191, 191, 191, 0.548);
      }
    }
  }
}

// ========= AddRecord ===========
.add-record {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
